body {
  --primario: #aeb3ca;
  --secundario: #304980;
  --terciario: #4da1f0;
  --extra: #E0D68A;
  background-color: var(--primario);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  height: 100vh;
}



/* -----------Container------------- */

.start-game{
  background-color: var(--secundario);
  color: white;
  padding: 20px;
  margin: auto;
  width: 90vw;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  
}
.row {
  background-color: var(--terciario);
  border-radius: 5px;
  margin: 5px;
  padding: 10px 0px;

}
.blocked {
  pointer-events: none;
  background-color: var(--primario);
  color: rgb(37, 37, 37);
}
.clickable{
  cursor: pointer;
}
.question-container{
  background-color: white;
  padding: 20px;

}
/* -----------question body------------- */
.trivia-question__data{
display: flex;
flex-wrap: wrap ;
}

.question-dificulty, .question-airdate{
width: 50%;
}
.question-answer{
  width: 100%;
  background-color: var(--secundario);
  color: white;
  padding: 20px 0px;
}

.trivia-question {
  padding-bottom: 0;
}
.question-show-answer{
  background-color: rgb(235, 229, 147);
  border-radius: 0px 0px 5px 5px;
  padding: 10px 0px;

}
.question-show-answer h1 {
  margin: 0;
  border: 0;
}
/* -----------next question ------------- */

.next-question {
  margin-top: 20px;
}
.next-question h1{
  font-family: Gyparody;
  font: Gyparody;
}